<!doctype html>

{% load staticfiles %}
<html>
    <head>
        <title>Deep Pictionary</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!--
        <div class="page-header">
            <h1><a href="{% url 'drawing:chooseCategory' %}">Deep Pictionary</a></h1>
        </div>
        -->
        {% block nav %}
            <div class="nav">
                <ul>
                    <li>{% block nav-play %}<a href="{% url 'drawing:chooseCategory' %}">Play</a>{% endblock %}</li>
                    <li>{% block nav-graphs %}<a href="{% url 'drawing:statPlots' %}">Graphs</a>{% endblock %}</li>
                    <li>{% block nav-test %}<a href="{% url 'drawing:statTests' %}">Tests</a>{% endblock %}</li>
                    <div class='title_string'>Deep Pictionary</div>
                </ul>
            </div>
        {% endblock %}
        <div class="page">
            {% block content %}
            {% endblock %}
            <br class="clear" />
        </div>
    </body>
</html>

