body {
    font-family: sans-serif; 
    background: #eee; 
}

a, h1, h2 { 
    color: #377ba8; 
}
h1, h2 { 
    font-family: 'Georgia', serif; 
    margin: 0.5em; 
}
h1 { 
    border-bottom: 2px solid #eee; 
}
h2 { 
    font-size: 1.2em; 
}

/* from http://css-snippets.com/simple-horizontal-navigation/ */
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: left;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}
.nav a:hover {
    background-color: #005f5f;
}
.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
.title_string {
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: 0.5em;
    color: #fff;
}   
@media screen and (min-width: 600px) {
    .nav li {
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
    }
    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        width: 5em;
    }
    /* Options 2 - Float
    .nav li {
    float: left;
    }
    .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
    }
    .nav {
    background-color: #444;
    }  */
}


.menu {
    width: 100%;
    font-size: 1.5em;
    padding: 10pt;
}
.menu p {
    margin: 0;
    margin-left: 1em;
    /*text-indent: -1em;*/
}
.menu ul {
    width: 80%;
    margin-left: 10%;
    line-height: 2em;
}
.menu li {
    float: left;
    width: 70%;
    padding: 0;
    margin: 0
}

.centre_div {
    width: 100%;
    text-align: center;
}
.centre_div form input {
    width: 40%;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.5em;
}
.centre_div button {
    width: 40%;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.5em;
}
.centre_div p {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 1em;
}

/* table formatting */
.centre_div table {
    border-collapse: collapse;
    width: 100%;
}
.centre_div th, td {
    text-align: center;
    padding: 8px;
}
.centre_div tr {
    background-color: #f2f2f2;
}
.centre_div th {
    background-color: #377ba8; 
    color: white;
}
.centre_div td td:nth-child(1), td th:nth-child(1) {
    text-align: left;
}
.centre_div table table th, table table td {
    font-size: 0.8em;
}

.page { 
    margin: 2em auto; 
    width: 80%; 
    height: 100%;
    border: 7px solid #ccc; 
    padding: 0.8em; 
    background: white; 
}
.clear {
    clear: both;
}

.graph {
    display: inline-block;
    border: 2px solid #ccc;
}
.graph_box {
    display: inline-block;
    width: 360px;
    margin: 10px auto;
}

/* for recordDrawing screen */
.mini_graphs {
    display: inline-block;
    width: 300px;
    margin: 4px auto;
}
.mini_graphs canvas {
    padding: 4px;
    border: 2px solid #ccc;
}

/* for browse screen */
.mid_graph_box {
    display: inline-block;
    width: 180px;
    margin: 4px auto;
    border: 2px solid #ccc;
}
.mid_graph {
    padding: -2px;
}
.category_name {
    text-align: center;
}
.correct_category {
    color: green;
}
.incorrect_category {
    color: red;
}


.padButton {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    text-transform: uppercase;
    padding: 10px;
    width: 6.5em;
}
